* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.fluid {
  width: 50%;
  margin: 60px auto;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  color: white;
  box-shadow: 1px 0px 19px 14px rgba(150, 148, 148, 0.3);
}


.fluid h1 {
  font-size: 23px;
  font-family: "Playwrite CU", cursive;
  color: #E8B86D  !important;

}

input[type="text"] {
  width: 100%;
  margin: 20px auto 0;
  padding: 5px 5px;
  background-color: #2121218c;
}

input[type="submit"] {
  width: 125px;
  margin: 10px auto 0;
  padding: 5px 5px;
  margin-right: 0;
}

::placeholder {
  font-size: 15px;
}

.container-img {
  background-color: rgba(231, 228, 228, 0.2);
  margin: 10px auto;
  background-color: white;
  padding: 5px;
}
